@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

h2 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

a {
    color: white;
    background-color: blue;
    padding: 7px 20px;
    font-size: 26px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

a:active {
    opacity: 0.7;
}